@import '~/styles/variables';

.section {
    margin-bottom: 10rem;
}

// COLORS
.colors {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    @include media-breakpoint-up(sm) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 3rem;
    }
}

.color-swatch {
    width: 100%;
    border-radius: 8px;
    height: 96px;
    box-shadow: 0px 3px 2px 2px rgba($color-base-black, 0.08);
}

.color-codes {
    list-style: none;
    margin-left: 0;
    padding-left: 1rem;
    font-size: 1.5rem;
}

.color-code {
    margin-bottom: 0.5rem;
    span {
        width: 30%;
        display: inline-block;
        color: $color-gray-500;
        text-transform: uppercase;
    }
}

// BUTTONS
.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}
.button {
    text-align: center;
    margin-bottom: 5rem;
}
.label {
    font-size: 1.4rem;
    margin-top: 3.4rem;
    font-weight: $font-weight-normal;
}

// TYPOGRAPHY
.typography__header {
    background-color: $color-brand-gray;
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
    color: $color-brand-gray-dark;
    align-items: center;
    margin-bottom: 5rem;

    @include media-breakpoint-up(md) {
        flex-direction: row;
        align-items: center;
    }
}

.typography__title {
    text-transform: uppercase;
    color: $color-brand-secondary;
    font-size: 4rem;
}

.typography__characters {
    padding: 0 5rem;
    word-break: break-all;
    font-size: 2rem;
    letter-spacing: 8px;

    @include media-breakpoint-up(md) {
        width: 60%;
        margin-left: auto;
    }
}

// INPUTS
.inpuits-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    @include media-breakpoint-up(md) {
        flex-direction: row;
        align-items: flex-start;
    }
}
.buttons-column {
    width: 100%;
    padding: 0 1rem;

    @include media-breakpoint-up(md) {
        width: 33%;
        display: flex;
        flex-direction: column;
    }
}

// ICONS
.icons {
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 8rem;
    background-color: $color-brand-gray--light;
    border: solid 1px $color-brand-gray;
    margin-bottom: 2rem;
    margin: 1rem;

    svg {
        transform: scale(2);
    }
}
