@import '~/styles/variables';

.wrapper {
    width: 100%;
    background-color: $color-base-black;
    color: $color-base-white;
    align-items: center;
    z-index: 11;
}

.content {
    padding: 0 $container-padding-x;
    display: flex;
    height: $header-height;
    justify-content: space-between;
}

.menu-toggle {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    order: 1;
    cursor: pointer;

    svg {
        fill: white;

        &:hover {
            fill: $color-brand-primary;
        }
    }

    @include media-breakpoint-up(md) {
        display: none;
    }
}

.logo {
    width: 100%;
    text-align: center;
    order: 2;
    max-width: 150px;
    align-self: center;

    @include media-breakpoint-up(md) {
        margin-right: auto;
    }
}

.toggle-shoping-car {
    margin-left: auto;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    order: 5;
}
