@import '~/styles/variables';

.wrapper {
    width: 100%;
    background-color: $header-bg;
    color: $header-color;
}

.content {
    padding: 0 $container-padding-x;
    display: grid;
    grid-template-columns: 24px 1fr 24px;
    height: 9rem;
    align-items: center;
}

.menu {
    display: none;
}

.menu-toggle {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.logo {
    width: 100%;
    text-align: center;
}

.toggle-shoping-car {
    margin-left: auto;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}
